.logo {
    display: inline-block;
    width: 76px;
    height: 40px;
    margin-top: 40px;
}

.menuitem {
    display: inline-block;
    height: 24px;
    margin-left: 60px;
}

.button {
    top: 40px;
    position: relative;
}

.menu {
    margin-left: 410px;
    margin-top: 3px;
    display: inline-block;
    color: #242424;
    font-size: 20px;
    position: relative;
    top: -25px;
}

.navbar {
    margin-left: 158px;
    margin-top: 31px;
    width: 1300px;
    height: 100px;
}

.text {
    width: 449px;
    display: inline-block;
}

h1 {
    font-size: 65px;
}

p {
    font-size: 20px;
}

.doi {
    margin-left: -20px;
}

.content {
    margin-left: 100px;
    margin-top: 120px;
}

.walkman {
    /* width: 1034px; */
    /* height: 851px; */
    left: 1000px;
    top: 173px;
    /* display: inline; */
    position: absolute;
}

body {
    background-image: linear-gradient(135deg, #FFFFFF, #FBF1D1);
    min-height: 1024px;
}


}